<p>todos works!</p>

<!--this is hardcoded not ideal(first is using hardcoded, second is using signal) 

<div class = "bg-violet-300 rounded shadow-md text-center ">
    <p> {{ todoService.todoItems[0].title }} </p> 
    <p> {{ todoItems()[0].title }} </p> 
</div>s

-->

<!--forloop-->
<div class="bg-white-200 rounded shadow-2xl text-center w-md p-5">
    @for (todo of todoItems(); track todo.id) {
        <p class="bg-red-200"> {{ todo.title }} </p> 
        <p class="bg-blue-200"> {{ todo.id }} </p>
        <p class="bg-yellow-200 mb-5"> {{ todo.userId }} </p>  
    }
</div>

