
<div class="min-h-screen flex items-center justify-center">
  <div class="bg-white shadow-lg rounded-lg w-120 p-8">
    <!-- Logo / Title -->
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
      Login
    </h2>

    <!-- Form -->
    <form (ngSubmit)="login()">
      <!-- Email -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-medium mb-2" for="email">
          Email
        </label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Enter your email"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-violet-400"
        />
      </div>
      <!-- Password -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-medium mb-2" for="password">
          Password
        </label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Enter your password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-violet-400"
        />
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full bg-violet-500 text-white py-2 rounded-lg hover:bg-violet-600 transition-colors"
      >
        Sign In
      </button>
    </form>

    <!-- register -->
    <p class="text-sm text-center text-gray-600 mt-6">
      Don’t have an account?
      <a href="#" class="text-violet-500 hover:underline">Register</a>
    </p>
  </div>


</div>
