<!--<div class="flex justify-center items-center mt-4 gap-2">
  @if (isLoggedIn && !isAuthPage) {
    <a class="bg-orange-400 text-white px-2 py-1 rounded cursor-pointer" (click)="logout()">
            Logout
    </a>
      <a class=" text-white px-4 py-2 rounded cursor-pointer">
            | {{ pangalan }}
    </a>
    

  } @else{

    <a class="bg-violet-500 text-white px-4 py-2 rounded cursor-pointer" routerLink="/login">
      Login
    </a>
    <a class="bg-violet-500 text-white px-4 py-2 rounded cursor-pointer" routerLink="/register">
      Register
    </a>
  }

</div>
-->