<div class="flex justify-center items-center mt-4 gap-2">
  
  <a class="bg-blue-500 text-white px-4 py-2 rounded" routerLink="/" >
        Dashboard
  </a> 

  <a class="bg-violet-500 text-white px-4 py-2 rounded cursor-pointer" routerLink="/login" >
        Login
  </a> 

  <a class="bg-violet-500 text-white px-4 py-2 rounded cursor-pointer" routerLink="/register" >
        Register
  </a> 

   <a class="bg-red-500 text-white px-4 py-2 rounded cursor-pointer" routerLink="/logout" >
        Logout
  </a> 
</div>
