<aside class="min-h-screen w-20 h-full shadow-2xl bg-white text-gray-700 border-r flex flex-col 2xl:w-70 2xl:items-center">
  <nav class="p-2 space-y-4 w-full">
    <div class="p-6 border-b w-full flex flex-col items-center">
      <h1 class="hidden 2xl:block text-xl font-bold text-gray-800 text-center">TicketingSystem</h1>
      <div class="flex 2xl:hidden w-10 h-10 rounded-full border bg-orange-200 items-center justify-center text-gray-700 font-medium">
        👤
      </div>
    </div>

    <a class="flex items-center justify-center gap-3 px-4 py-3 text-sm text-gray-700 rounded-lg hover:bg-gray-100 transition-colors cursor-pointer w-full" routerLink="/">
      <span class="text-lg">🏠</span>
      <span class="hidden 2xl:inline text-lg">Dashboard</span>
    </a>

    <a class="flex items-center justify-center gap-3 px-4 py-3 text-sm text-gray-700 rounded-lg hover:bg-gray-100 transition-colors cursor-pointer w-full" routerLink="/kanboard">
      <span class="text-lg">📋</span>
      <span class="hidden 2xl:inline text-lg">Kanboard</span>
    </a>

    <a class="flex items-center justify-center gap-3 px-4 py-3 text-sm text-gray-700 rounded-lg hover:bg-gray-100 transition-colors cursor-pointer w-full" routerLink="/listuser">
      <span class="text-lg">👥</span>
      <span class="hidden 2xl:inline text-lg">List Users</span>
    </a>
  </nav>

  <nav class="mt-auto p-2 space-y-6 w-full">
    <div class="p-6 border-t w-full flex flex-col items-center">
      <div class="flex items-center gap-3 px-4 py-3 mb-2 justify-center">
        <div class="hidden 2xl:w-10 h-10 rounded-full border bg-orange-500 flex items-center justify-center text-white font-medium">
          👤
        </div>
        <div class="hidden 2xl:block text-center">
          <div class="font-bold text-gray-800 text-xl">{{ pangalan }}</div>
        </div>
      </div>

  <button class="w-full flex items-center justify-center gap-2 px-4 py-2 text-sm text-white bg-orange-500 rounded-lg hover:bg-orange-600 transition-colors cursor-pointer">
    <span class="text-lg">➜]</span>
    <span class="hidden 2xl:inline text-lg" (click)="logout()">Logout</span>
  </button>

    </div>
  </nav>
</aside>
