<aside class="min-h-screen w-70 shadow-2xl bg-gray-300 text-black  flex flex-col ">

  <nav class="p-4 space-y-9 ">
    <a class="block p-2 text-xl rounded bg-white hover:bg-orange-300  shadow-lg cursor-pointer" routerLink="/">
       Dashboard
    </a>
    <a class="block p-2 text-xl rounded bg-white hover:bg-orange-300  shadow-lg cursor-pointer"  routerLink="/kanboard">
       Kanban Board
    </a>
    <a class="block p-2 text-xl rounded bg-white hover:bg-orange-300  shadow-lg cursor-pointer"  routerLink="/listuser">
      Test: List user
    </a>
  </nav>

</aside>
