<aside class="min-h-screen w-70 h-full shadow-2xl bg-white text-gray-700 flex flex-col border-r">


  <nav class="p-2 space-y-4  ">
    <div class="p-6 border-b">
      <h1 class="text-xl font-bold text-gray-800">TicketingSystem</h1>
    </div>


    <a class="flex items-center gap-3 px-4 py-3 text-sm text-gray-700 rounded-lg hover:bg-gray-100 transition-colors cursor-pointer" routerLink="/">
      <span class="text-lg">🏠 Dashboard</span> 
    </a>

    <a class="flex items-center gap-3 px-4 py-3 text-sm text-gray-700 rounded-lg hover:bg-gray-100 transition-colors cursor-pointer" routerLink="/kanboard">
       <span class="text-lg">📋 kanboard</span>  
    </a>
    
    <a class="flex items-center gap-3 px-4 py-3 text-sm text-gray-700 rounded-lg hover:bg-gray-100 transition-colors cursor-pointer" routerLink="/listuser">
      <span class="text-lg">👥 List Users</span> 
    </a>
  </nav>

  <nav class = "mt-auto p-2 space-y-6">
  
 <div class="p-6 border-t">
    <div class="flex items-center gap-3 px-4 py-3 mb-2">
      <div class="w-10 h-10 rounded-full border-2 border-gray-400 bg-white-500 flex items-center justify-center text-white font-medium">
        👤
      </div>
      <div class="flex-1">
        <div class=" font-bold text-gray-800 text-xl">{{ pangalan }}</div>

      </div>
    </div>
    <button class="w-full px-4 py-2 text-sm text-white bg-orange-500 rounded-lg hover:bg-orange-600 transition-colors cursor-pointer" (click)="logout()">
      Logout
    </button>
  </div>
  </nav>
  
  
</aside>
