/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


/* Reset body and html to prevent overflow 
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}


app-root {
  display: block;
  height: 100vh;
  overflow: hidden;
}

*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
