
<div class="bg-white rounded-xl shadow-lg text-center w-full max-w-md p-4 my-4 mx-auto">
    <h2>ISSUE LIST</h2>

    <!--this will only show when showInput() is true-->
    @if (showInput) {
        <form class="w-75 mt-4 p-4 rounded-lg justify-center">
            <textarea [(ngModel)]="newIssueTitle"
                placeholder="Enter your issue"
                class="border p-2 rounded w-full h-25 mb-2">s
            </textarea>


            <button (click)="saveIssue()"
                    class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
            Save Issue
            </button>
        </form>
        
        
            <li class="flex items-center justify-center gap-2 cursor-pointer bg-green-200 p-2 m-2 rounded">
                <span class="text-purple-600">👤</span> Assign 
            </li>

        }
    
        @if (moveInput) {
            <h2>Moving to...</h2>
                <!--<div class="mt-4 p-4 bg-gray-100 rounded-lg flex flex-col">
                <label >
                    <input [(ngModel)]="issueStatus"
                        type="radio"
                        placeholder="Enter new status (todo, in-progress, done)"
                        class="border p-2 rounded w-full mb-2"/>
                    <span>To do</span>
                </label>

                <label>
                    <input [(ngModel)]="issueStatus"
                        type="radio"
                        placeholder="Enter new status (todo, in-progress, done)"
                        class="border p-2 rounded w-full mb-2" />
                        <span>In Progress</span>
                </label>

                <label >
                    <input [(ngModel)]="issueStatus"
                        type="radio"
                        placeholder="Enter new status (todo, in-progress, done)"
                        class="border p-2 rounded w-full mb-2" />
                        <span>Done</span>
                </label>
            -->
            <div class="mt-4 p-4 bg-gray-100 rounded-lg flex items-center gap-4 justify-center">  
                <select [(ngModel)]="issueStatus" class="border p-2 rounded">
                <option value="" disabled selected>Select status</option>
                <option value="todo">Todo</option>
                <option value="in-progress">In Progress</option>
                <option value="done">Done</option>
                </select>
            </div>
            <button (click)="saveIssue()" class="p-1 bg-blue-600 text-white rounded hover:bg-blue-700">all goods</button>
        }

        

    <ul class="flex flex-row space-y-3 text-gray-700 p-2 gap-5 justify-center">
        <li class="flex items-center justify-center gap-2 cursor-pointer" (click)="createIssue()">
        <span class="text-blue-600">➕</span> Create     
        </li>   

        <li class="flex items-center justify-center gap-2 cursor-pointer" (click)="moveIssue()">
            <span class="text-orange-600">➡️</span> Move 
        </li>
        


        <li class="flex items-center justify-center gap-2 cursor-pointer">
            <span class="text-green-600">📋</span> List 
        </li>
    </ul>
    
    </div>

    <!--will loop the added-->
    <ul class="space-y-2">
        @for (issue of issues; track issue.title) {
            <li class="bg-white p-2 rounded shadow text-left">
            {{ issue.title }}
            </li>
        }
    </ul>


