<body class="m-0 overflow-x-hidden">
    <section class="flex w-full min-h-screen outline outline-2 outline-yellow-500 mx-auto">
    <!-- Sidebar -->
    <div class="w-96 h-screen bg-gray-800 text-white flex flex-col p-4 mx-2">
        <nav class="p-4 text-center">JAY</nav>
    </div>

    <!-- Kanban Board -->
    <div class="flex flex-row space-x-20 p-2 bg-gray-100 min-h-80 outline outline-2 outline-violet-700 justify-between m-4">
        <div class="bg-gray-200 rounded-lg shadow-md w-80 p-4 shadow-lg">
            <h2 class="text-lg font-bold mb-4">To Do</h2>
        </div>
        <div class="bg-gray-200 rounded-lg shadow-md w-80 p-4 shadow-lg">
            <h2 class="text-lg font-bold mb-4">In Progress</h2>
        </div>
        <div class="bg-gray-200 rounded-lg shadow-md w-80 p-4 shadow-lg">
            <h2 class="text-lg font-bold mb-4">Done</h2>
        </div>
        <div class="bg-gray-200 rounded-lg shadow-md w-80 p-4 shadow-lg">
            <h2 class="text-lg font-bold mb-4"></h2>
            
        </div>
    </div>
    </section>
</body>
